<body style="height: 100%">
	<nav class="container">
		<div class="row">
			<div class="col-lg-3">
				<a id="logo" class="py-3 px-1"><img class="img-fluid" src="../../../../assets/img/logo.png" alt="Top Medical"></a>
			</div>
		</div>
	</nav>
	<div class="row mt-3">
		<div class="col-lg-4 col-sm-6 offset-lg-4 offset-sm-3">
			<div class="login-html px-3 py-3">
				<form class="login-form" id="registro" #formRegister="ngForm" (ngSubmit)="onRegister()">
                    <div class="group">                        
                        <label for="nombre" class="label">Nombre</label>
                        <span class="fas fa fa-user fa-2x"></span>
                        <input type="text" id="nombre" name="name" class="input">
                    </div>
                    
                    <div class="group">                        
                        <label for="apellido-p" class="label">Apellido Paterno</label>
                        <span class="fas fa fa-user-plus fa-2x"></span>
                        <input id="apellido-p" type="text" class="input">
                    </div>

                    <div class="group">
                        <label for="apellido-m" class="label">Apellido Materno</label>
                        <span class="fas fa fa-user-plus fa-2x"></span>
                        <input id="apellido-m" type="text" class="input">
                    </div>
                    
                    <div class="group">
                        <label for="user" class="label">Email</label>
                        <span class="fas fa fa-envelope fa-2x"></span>
                        <input type="email" id="user" name="email" class="input" placeholder="Email" [(ngModel)]="user.email" required>
                    </div>

                    <div class="group">
                        <label for="pass" class="label">Contraseña</label>
                        <span class="fas fa fa-key fa-2x"></span>
                        <input type="password" id="pass" name="password1" class="input" placeholder="password" [(ngModel)]="user.password" required>

                    </div>
                    
                    <div class="group">
                        <label for="pass2" class="label">Confirmar Contraseña</label>
                        <span class="fas fa fa-key fa-2x"></span>
                        <input type="password" id="pass" name="password2" class="input" placeholder="password" [(ngModel)]="user.password2" required>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Registrarse">
                    </div>
                </form>
			</div>
		</div>
	</div>
</body>
