<div style="text-align:center">

<nav>
  <a [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a>
  &nbsp;
  <a [routerLink]="['/inicio']" [routerLinkActive]="['active']">menu inicio</a>
  &nbsp;
  <a [routerLink]="['/ajustes']" [routerLinkActive]="['active']">menu ajustes</a>
  &nbsp;
  <a [routerLink]="['/agenda']" [routerLinkActive]="['active']">menu agenda</a>
  &nbsp;
  <a [routerLink]="['/paciente']" [routerLinkActive]="['active']">menu pacientes</a>
  &nbsp;
  <a [routerLink]="['/pago']" [routerLinkActive]="['active']">menu pago</a>
</nav>


<router-outlet></router-outlet>

