<div class="l-main">
    <table id="lista" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nombre(s)</th>
                <th>Apellidos</th>
                <th>Sexo</th>
                <th>Antecedentes Principales</th>
                <th>Notas</th>
                <th>Dirección</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tiger</td>
                <td>Nixon</td>
                <td>F</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
            </tr>
            <tr>
                <td>Garrett</td>
                <td>Winters</td>
                <td>M</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>2011/07/25</td>
            </tr>
            <tr>
                <td>Ashton</td>
                <td>Cox</td>
                <td>F</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>2009/01/12</td>
            </tr>
            <tr>
                <td>Cedric</td>
                <td>Kelly</td>
                <td>M</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>2012/03/29</td>
            </tr>
            <tr>
                <td>Airi</td>
                <td>Satou</td>
                <td>M</td>
                <td>Tokyo</td>
                <td>33</td>
                <td>2008/11/28</td>
            </tr>
            <tr>
                <td>Brielle</td>
                <td>Williamson</td>
                <td>F</td>
                <td>New York</td>
                <td>61</td>
                <td>2012/12/02</td>
            </tr>
            <tr>
                <td>Herrod</td>
                <td>Chandler</td>
                <td>M</td>
                <td>San Francisco</td>
                <td>59</td>
                <td>2012/08/06</td>
            </tr>
            <tr>
                <td>Rhona</td>
                <td>Davidson</td>
                <td>F</td>
                <td>Tokyo</td>
                <td>55</td>
                <td>2010/10/14</td>
            </tr>
            <tr>
                <td>Colleen</td>
                <td>Hurst</td>
                <td>F</td>
                <td>San Francisco</td>
                <td>39</td>
                <td>2009/09/15</td>
            </tr>
            <tr>
                <td>Sonya</td>
                <td>Frost</td>
                <td>M</td>
                <td>Edinburgh</td>
                <td>23</td>
                <td>2008/12/13</td>
            </tr>
            <tr>
                <td>Jena</td>
                <td>Gaines</td>
                <td>M</td>
                <td>London</td>
                <td>30</td>
                <td>2008/12/19</td>
            </tr>
            <tr>
                <td>Quinn</td>
                <td>Flynn</td>
                <td>F</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>2013/03/03</td>
            </tr>
            <tr>
                <td>Charde</td>
                <td>Marshall</td>
                <td>M</td>
                <td>San Francisco</td>
                <td>36</td>
                <td>2008/10/16</td>
            </tr>
            <tr>
                <td>Haley</td>
                <td>Kennedy</td>
                <td>F</td>
                <td>London</td>
                <td>43</td>
                <td>2012/12/18</td>
            </tr>
            <tr>
                <td>Tatyana</td>
                <td>Fitzpatrick</td>
                <td>M</td>
                <td>London</td>
                <td>19</td>
                <td>2010/03/17</td>
            </tr>
            <tr>
                <td>Michael</td>
                <td>Silva</td>
                <td>M</td>
                <td>London</td>
                <td>66</td>
                <td>2012/11/27</td>
            </tr>
            <tr>
                <td>Paul</td>
                <td>Byrd</td>
                <td>F</td>
                <td>New York</td>
                <td>64</td>
                <td>2010/06/09</td>
            </tr>
            <tr>
                <td>Gloria</td>
                <td>Little</td>
                <td>M</td>
                <td>New York</td>
                <td>59</td>
                <td>2009/04/10</td>
            </tr>
            <tr>
                <td>Bradley</td>
                <td>Greer</td>
                <td>M</td>
                <td>London</td>
                <td>41</td>
                <td>2012/10/13</td>
            </tr>
            <tr>
                <td>Dai</td>
                <td>Rios</td>
                <td>M</td>
                <td>Edinburgh</td>
                <td>35</td>
                <td>2012/09/26</td>
            </tr>
            <tr>
                <td>Jenette</td>
                <td>Caldwell</td>
                <td>F</td>
                <td>New York</td>
                <td>30</td>
                <td>2011/09/03</td>
            </tr>
        </tbody>
    </table>
  </div>
  
  
